.primary-color {
  color: #226cfc;
}

.primary-button {
  background-color: #226cfc;
  color: #fff;
  outline: none !important;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 185px;
}

.secondary-button {
  background-color: rgba(34, 108, 252, 0.10196078431372549);
  color: #226cfc;
  outline: none !important;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 185px;
}

th:first-child {
  width: 27%;
}
